In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('Student_Performance.csv')

In [7]:
df.head()

,student_id,age,gender,school_type,parent_education,study_hours,attendance_percentage,internet_access,travel_time,extra_activities,study_method,math_score,science_score,english_score,overall_score,final_grade
0,1,14,male,public,post graduate,3.1,84.3,yes,<15 min,yes,notes,42.7,55.4,57.0,53.1,e
1,2,18,female,public,graduate,3.7,87.8,yes,>60 min,no,textbook,57.6,68.8,64.8,61.3,d
2,3,17,female,private,post graduate,7.9,65.5,no,<15 min,no,notes,84.8,95.0,79.2,89.6,b
3,4,16,other,public,high school,1.1,58.1,no,15-30 min,no,notes,44.4,27.5,54.7,41.6,e
4,5,16,female,public,high school,1.3,61.0,yes,30-60 min,yes,group study,8.9,32.7,30.0,25.4,f


# Agrupando as informa√ß√µes gerais do Dataframe (SUMMARY)

Quantos estudantes existem no dataset?

In [12]:
df['student_id'].shape[0]

25000

Qual √© a idade m√©dia dos estudantes?

In [18]:
df['age'].mean().round(1)

16.5

Qual a distribui√ß√£o por g√©nero?

In [19]:
df['gender'].value_counts()

gender
other     8463
female    8290
male      8247
Name: count, dtype: int64

Qual a propor√ß√£o entre escolas p√∫blicas e privadas?

In [20]:
df['school_type'].value_counts()

school_type
private    12725
public     12275
Name: count, dtype: int64

Quantos estudantes t√™m acesso √† internet?

In [21]:
df['internet_access'].value_counts()

internet_access
yes    21227
no      3773
Name: count, dtype: int64

Qual √© a m√©dia geral (overall_score)?

In [22]:
df['overall_score'].mean().round(1)

64.0

Qual disciplina tem a maior m√©dia? E qual tem a menor m√©dia?

In [106]:
medias = df[['math_score', 'science_score', 'english_score']].mean()

disciplina_maior = medias.idxmax()
valor_maior = round(medias.max(), 1)

disciplina_menor = medias.idxmin()
valor_menor = round(medias.min(), 1)

print(f"A disciplina com maior m√©dia √© {disciplina_maior} ({valor_maior})")
print(f"A disciplina com menor m√©dia √© {disciplina_menor} ({valor_menor})")

A disciplina com maior m√©dia √© math_score (63.8)
A disciplina com menor m√©dia √© english_score (63.7)

Qual a taxa de aprova√ß√£o e reprova√ß√£o (final_grade)?

<p>a, b, c = Aprovados</p>
<p>d, e, f = Reprovados</p>

In [107]:
df['final_grade'].value_counts()

final_grade
d    6311
c    6161
e    5672
f    2955
b    2696
a    1205
Name: count, dtype: int64

In [224]:
aprovados = (df['final_grade'] == 'a').sum() + (df['final_grade'] == 'b').sum() + (df['final_grade'] == 'c').sum()
reprovados = (df['final_grade'] == 'd').sum() + (df['final_grade'] == 'e').sum() + (df['final_grade'] == 'f').sum()

In [232]:
print(f"Total de alunos aprovados: {aprovados}\nTotal de Alunos reprovados: {reprovados}")

Total de alunos aprovados: 10062
Total de Alunos reprovados: 14938

Qual a variabilidade das notas (desvio padr√£o)?

In [234]:
round(df['math_score'].std(),1)

20.9

Quantas horas de estudo por semana os estudantes dedicam, em m√©dia?

In [236]:
round(df['study_hours'].mean(), 1)

4.3

Qual a m√©dia da taxa de presen√ßa (attendance_percentage)?

In [237]:
round(df['attendance_percentage'].mean(), 1)

75.1

Qual a distribui√ß√£o dos m√©todos de estudo (study_method)?

In [251]:
round(df['study_method'].value_counts(normalize=True) * 100, 1)

study_method
mixed            17.4
textbook         17.0
notes            16.7
online videos    16.6
group study      16.4
coaching         16.1
Name: proportion, dtype: float64

Qual o tempo m√©dio de deslocamento (travel_time)?

In [255]:
mapa_tempo = {
    '<15 min': 7.5,     # metade de 15
    '15-30 min': 22.5,  # ponto m√©dio
    '30-60 min': 45,    # ponto m√©dio
    '>60 min': 75       # estimativa razo√°vel
}

In [256]:
df['travel_time_numeric'] = df['travel_time'].map(mapa_tempo)

In [257]:
media_travel_time = df['travel_time_numeric'].mean().round(1)
print(f"Tempo m√©dio de deslocamento: {media_travel_time} minutos")

Tempo m√©dio de deslocamento: 37.5 minutos

# Coletando os INSIGHTS

üîπ Interpretando correla√ß√£o

- 0 a 0.3 ‚Üí fraca influ√™ncia

- 0.4 a 0.6 ‚Üí m√©dia influ√™ncia

- 0.7 a 1.0 ‚Üí forte influ√™ncia

Estudantes que estudam mais t√™m melhores notas?

In [378]:
round(df['study_hours'].corr(df['overall_score']), 1)

0.9

A presen√ßa em aulas influencia a nota final?

In [443]:
round(df['attendance_percentage'].corr(df['overall_score']), 1)

0.3

Estudantes com internet t√™m melhor desempenho?

In [395]:
round(df.groupby('internet_access')['overall_score'].mean(), 1)

internet_access
no     63.8
yes    64.0
Name: overall_score, dtype: float64

O n√≠vel de educa√ß√£o dos pais influencia as notas?

In [396]:
round(df.groupby('parent_education')['overall_score'].mean(), 1)

parent_education
diploma          64.7
graduate         64.0
high school      63.4
no formal        63.9
phd              63.5
post graduate    64.6
Name: overall_score, dtype: float64

O tempo de deslocamento afeta o rendimento acad√©mico?

In [403]:
round(df['travel_time_numeric'].corr(df['overall_score']), 1)

-0.0

Atividades extracurriculares melhoram o desempenho?

In [408]:
round(df.groupby('extra_activities')['overall_score'].mean(), 1)

extra_activities
no     63.9
yes    64.1
Name: overall_score, dtype: float64

Existe diferen√ßa de desempenho entre g√©neros?

In [409]:
round(df.groupby('gender')['overall_score'].mean(), 1)

gender
female    64.3
male      64.1
other     63.7
Name: overall_score, dtype: float64

Existe diferen√ßa de desempenho entre tipos de escola?

In [410]:
round(df.groupby('school_type')['overall_score'].mean(), 1)

school_type
private    64.0
public     64.0
Name: overall_score, dtype: float64

Qual m√©todo de estudo gera melhores resultados?

In [438]:
best_method = df.groupby(['study_method'])[['overall_score']].mean()

In [442]:
round(best_method.sort_values(by='overall_score', ascending=False).head(1), 1)

               overall_score
study_method
online videos           64.7

Quem s√£o os 10% melhores e os 10% piores alunos?

Os 10 melhores alunos

In [364]:
df.nlargest(10 ,'overall_score')[['overall_score', 'student_id']]

     overall_score  student_id
202          100.0         203
237          100.0         238
271          100.0         272
315          100.0         316
340          100.0         341
379          100.0         380
436          100.0         437
532          100.0         533
599          100.0         600
616          100.0         617

Os 10 piores alunos

In [491]:
df.nsmallest(10 ,'overall_score')[['overall_score', 'student_id']]

       overall_score  student_id
5519            14.5        5520
12849           16.7       12850
12483           17.1       12484
5639            17.7        5640
11405           17.9       11406
22609           17.9       11406
10776           18.0       10777
21297           18.0       10777
23988           18.0       10777
4040            18.2        4041

Quais fatores mais impactam o desempenho acad√©mico?

Analisando as correla√ß√µes entre diferentes fatores e a nota final, observa-se que o **tempo de estudo** √© o fator com maior impacto, apresentando forte correla√ß√£o positiva com a nota. O **acesso √† internet** e a **frequ√™ncia √†s aulas** tamb√©m influenciam positivamente, por√©m em intensidade moderada. J√° o **tempo de deslocamento** n√£o apresenta impacto significativo sobre as notas, indicando que este fator n√£o interfere diretamente no desempenho acad√©mico.

Qual disciplina exige maior interven√ß√£o pedag√≥gica?

In [485]:
medias = df[['math_score', 'science_score', 'english_score']].mean()
id_hard_discipline = medias.idxmin()

In [490]:
print(f"A disciplina que que exige maior interven√ß√£o pedag√≥gica √© a disciplina de '{id_hard_discipline}' com  {round(medias.loc[id_hard_discipline], 1)} de m√©dia.")

A disciplina que que exige maior interven√ß√£o pedag√≥gica √© a disciplina de 'english_score' com  63.7 de m√©dia.

Que recomenda√ß√µes podem ser feitas √†s escolas?

### Recomenda√ß√µes para as escolas

Com base nos dados analisados, as escolas devem focar em:

- **Estimular mais horas de estudo**, pois alunos que estudam mais t√™m notas melhores.  
- **Aumentar a presen√ßa em aula**, j√° que frequ√™ncia ajuda, mesmo que de forma moderada.  
- **Garantir acesso √† internet e recursos tecnol√≥gicos**, pois isso facilita o aprendizado.  
- **Dar aten√ß√£o especial √†s disciplinas com notas mais baixas**, oferecendo refor√ßo e acompanhamento.