In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('heart.csv')

In [3]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

# Agrupando as informações gerais do Dataframe (SUMMARY)

Informações gerais do DataFrame

Dimensões do DataFrame

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

Idade mínima e máxima dos pacientes

In [7]:
print(f"Idade Máxima: {df['age'].max()}\nIdade Mínima: {df['age'].min()}")

Idade Máxima: 77
Idade Mínima: 29

Idade média dos pacientes

In [14]:
print(f"{df['age'].mean():.0f}")

54

Os pacientes têm idades entre 29 e 77 anos, com média em torno dos 54 anos, concentrando-se principalmente em indivíduos de meia-idade.

Distribuição percentual de pacientes por sexo (0 - Feminino/ 1 - Masculino)

In [8]:
df['sex'].value_counts()

sex
1    713
0    312
Name: count, dtype: int64

O conjunto de dados é majoritariamente composto por pacientes do sexo feminino.

# Coletando os INSIGHTS

Idade média de casos positivos para doenças cardíacas

In [11]:
Idade_media_feminina = df[(df['sex'] == 0) & (df['target'] == 1)]['age'].mean()
Idade_media_masculina = df[(df['sex'] == 1) & (df['target'] == 1)]['age'].mean()

In [12]:
print(f'A idade média para o sexo femimino em que se registrou casos positivos é de {round(Idade_media_feminina)} anos de idade')
print(f'A idade média para o sexo masculino em que se registrou casos positivos é de {round(Idade_media_masculina)} anos de idade')

A idade média para o sexo femimino em que se registrou casos positivos é de 55 anos de idade
A idade média para o sexo masculino em que se registrou casos positivos é de 51 anos de idade

Dor peitoral mais frequente

In [6]:
dor_mais_frequente = df['cp'].value_counts(normalize=True)[0] * 100

In [14]:
print(f"A dor mais frequente é a {df['cp'].value_counts().index[0]} com uma percentagem de {round(dor_mais_frequente)}% no conjunto de dados.")

A dor mais frequente é a 0 com uma percentagem de 48% no conjunto de dados.

Quantidade de casos positivos presentes

In [15]:
df[df['target'] == 1].shape[0]

526

Quantidade de casos negativos presentes

In [16]:
df[df['target'] == 0].shape[0]

499

### Estresse Cardíaco (1 - Estresse Normal, 2 - Estresse Fixo, 3 - Estresse Reversível)

Quantos possuem um estresse normal?

In [5]:
df['thal'].value_counts()[1]

64

Quantos possuem um estresse fixo?

In [18]:
df['thal'].value_counts()[2]

544

Quantos possuem um estresse reversível?

In [19]:
df['thal'].value_counts()[3]

410

Qual é a média de Vasos Sanguínios Principais afetados em um paciente?

In [20]:
df['ca'].mean().round(1)

0.8

### Estresse Cardíaco quando submetido a esforços

<p>oldpeak = 0 - Resposta Normal <p>
<p>oldpeak > 0 e ≤ 1 - Estresse Cardíaco Inicial<p>
<p>oldpeak > 1 e ≤ 2 - Maior Esforço do Coração<p>
<p>oldpeak > 2 - Problema Crítico<p>

Quantidade de Pacientes que apresentaram Respostas Normais

In [21]:
df[df['oldpeak'] == 0].shape[0]

329

Quantidade de Pacientes que apresentaram Estresse Cardíaco Inicial

In [22]:
df[(df['oldpeak'] > 0) & (df['oldpeak'] <= 1)].shape[0]

270

Quantidade de Pacientes que apresentaram Maior Esforço do Coração

In [23]:
df[(df['oldpeak'] > 1) & (df['oldpeak'] <= 2)].shape[0]

248

Quantidade de Pacientes que apresentaram Problema Crítico

In [24]:
df[df['oldpeak'] > 2].shape[0]

178

### Dor ao efectuar exercícios

In [25]:
df['exang'].value_counts()

exang
0    680
1    345
Name: count, dtype: int64

In [26]:
print(f"Ao efectuar exercícios {df['exang'].value_counts().iloc[1]} sentiram dores, enquanto {df['exang'].value_counts().iloc[0]} não sentiram.")

Ao efectuar exercícios 345 sentiram dores, enquanto 680 não sentiram.

### Frequências Cardíacas

Maiores Frequências Cardíacas registradas

In [32]:
df.nlargest(5,'thalach')[['thalach']]

     thalach
60       202
64       202
118      202
668      202
151      195

Menores Frequências Cardíacas registradas

In [27]:
df.nsmallest(5,'thalach')[['thalach']]

     thalach
267       71
296       71
378       71
559       71
140       88

### Eletrocardiograma em repouso

0: normal

1: anormalidade leve

2: anormalidade mais grave

Quantos aprensentaram um Eletrocardiograma normal?

In [28]:
df[df['restecg'] == 0].shape[0]

497

Quantos aprensentaram um Anormalidade Leve?

In [29]:
df[df['restecg'] == 1].shape[0]

513

Quantos aprensentaram um Anormalidade mais grave?

In [30]:
df[df['restecg'] == 2].shape[0]

15

Qual é a média de colesterol?

In [31]:
df['chol'].mean()

246.0